{% extends "base.html" %}

{% block content %}
    {% if newrecipe %}
        <h2>New recipe: <em>{{ title }}</em> </h2>
    {% else %}
        <h2>Editing recipe: <em>{{ title }}</em> </h2>
    {% endif %}
    <form method="post">

            <label>title:
            <input type="text" name="title" value="{{title}}">
            </label>
            <label for="Category">category:
            <select name="category">
                {% for category in categories %}

                    <option value={{ category }}>{{ category }}</option>
                {% endfor %}
                 </select>
            </label>
            <label for="Content">content:
            <textarea name="content">{{content}}</textarea>
            </label>
        <div class="error">{{error}}</div>


        <input type="submit" value="save">
    </form>

{% endblock %}