{% extends "base.html" %}
{% block head_content %}
{% endblock %}
{% block content %}
<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item"><a href=""><img src="images/castle.jpg" alt="1" /></a></div>
    <div class="item"><a href=""><img src="images/frogy.jpg" alt="2" /></a></div>
    <div class="item"><img src="images/HB_alex.jpg" alt="3" /></div>
    <div class="item"><img src="images/napoleon.jpg" alt="4" /></div>
    <div class="item"><img src="images/nice_day.jpg" alt="5" /></div>
  </div>
  <!-- Carousel nav --> 
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a> <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a></div>
<ul class="thumbnails">
  {% for p in recipes %}
  <li> <a class="thumbnail" href="/img?img_id={{ p.key() }}" title="Title #0"> <img data-src="holder.js/200x200" src="imgAv?img_id={{ p.key() }}" alt="" /> </a>
    <div class="caption">
      <div class="image-title">{{ p.page_name }}</div>
      <div class="image-desc"> {% if p.description %}
        {{ p.description }}
        {% endif %}
        {% if p.recipe_link %} <a  href={{ p.recipe_link }} >Recipe</a> {% endif %} </div>
      <div class="download"> <a href="/imgB?img_id={{ p.key() }}">Download Original</a> </div>
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock %} 