{% extends "base.html" %}

{% block content %}

  {{  post.render() | safe }}
    {% if isUserAdmin %}
        <div class="edit-link">
            <a href="{{'/blog/edit/' ~ post.key().id()}}">edit this post</a>
            <a href="{{'/blog/remove/' ~ post.key().id() }}">remove this post</a>
        </div>
    {% endif %}
    <div class="addcomment">
        <form method="post">

            <label>
                {#            <div>Recipe Ingredients</div>#}
                <label for="Comment">Comment:</label>
                <textarea name="comment" rows="1" cols="1" style="width: 300px;
            height: 100px;
            font-size: 17px;
            font-family: monospace;
            border: 3px solid #cccccc;"></textarea>
            </label>
            <input type="submit">
        </form>
    </div>
    <div class="comments">
        <b>Comments:</b>
        {% for c in comments %}
            <div class="comment">
                <div class="submitter">
                    <i>{{ c.submitter }} wrote:</i>
                </div>
                <div class="comment_content">{{ c.comment }}</div>
            </div>
            <br>
        {% endfor %}
    </div>


{% endblock %}
